*{
    font-size: 62.5%;
    font-family:'Raleway', 'Times New Roman', 'Times';
    box-sizing: border-box;
    color: rgb(30, 30, 30);
}

/******************************************
/* Navigation
/*******************************************/

header{
    position: fixed;
    top: 0;
    left: 0;

    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    height: 6rem;
    transition: height 0.5s ease; 
}

header *{
    color: rgb(222, 222, 222);
    font-size: 1rem;
}

header ul{
    display: flex;
    flex-direction: row;
    padding-right: 5rem;
}

header ul li{
    padding: 0.5rem 3rem;
}

header ul li a {
    font-size: 1.5rem;
    text-decoration: none;
}

header span{
    width: 5%;
    min-width: 6rem;
    font-size: 1rem;
    line-height: 2.1rem;
    transition: line-height 0.5s ease;
}

/******************************************
/* Page Structure
/*******************************************/
main{
    height: 1vh;
    padding-top: 5rem;
}

.container1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10rem 0 5rem 0;
}

.sub1-container1{
    width: 25%;
}

.sub2-container1{
    width: 50%;
    padding-left: 3rem;
}

.container2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 3rem;
}

.container2 > p{
    width: 70%;
    align-self: center;
    text-align: center;
    font-weight: 400;
}

.sub1-container2{
    display: flex;
    flex-direction: column;
    padding: 3rem 10rem;
}

.sub2-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding: 3rem 0;
}

.sub2-container2 p{
    margin: 0;
    width: 70%;
    max-width: 100rem;
    min-width: 20rem;
    align-self: center;
}

.sub1-container2 img{
    width: 20%;
    min-width: 21rem;
}

.sub3-container2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.sub3-container2 span{
    font-size: 2.5rem;
    font-weight: 300;
}

/******************************************
/* Colors
/*******************************************/

.light{
    background-color: rgb(222, 222, 222);
    
}

.dark{
    background-color: rgba(30, 30, 30, 0.75);
    
}

.light *{
    color: rgb(30, 30, 30);
}

.dark *{
    color: rgb(222, 222, 222);
}

/******************************************
/* Typography
/*******************************************/

h1{
    font-size: 3rem;
    font-weight: 300;
    margin: 0.5rem 0;
    text-align: center;
}

h2{
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin: 0.5rem 0;
    padding-top: 2rem;
}

h3{
    font-size: 2rem;
    font-weight: 300;
}

h5{
    font-size: 1.5rem;
    font-weight: 200;
}

h4{
    font-size: 2.5rem;
    font-weight: 300;
    margin: 0;
    padding: 1.5rem 0;
}

p, address{
    font-size: 2rem;
    font-weight: 200;
    margin: 0;
}

a:hover{
    color: rgb(155, 155, 155);
}

.underline{
    width: 80%;
    height: 1px;
    margin: 0.1rem auto; 
}

.iconStyle h3{
    align-self: center;
    padding-left: 3rem;
    font-size: 2rem;
}

/******************************************
/* Media
/*******************************************/

#sandyHeadshot{
    width: 100%;
    max-width: 25rem;
    min-width: 10rem;
    border-radius: 0.25rem;
}

.iconStyle{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 3rem;
}

.iconStyle img{
    width: 10%;
    height: 90%;
    min-width: 5rem;
}

.infographic{
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 40%;
    margin: 3rem 0;
}

.infographic-sub1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infographic img{
    width: 10rem;
    padding: 1rem;
}

.infographic span{
    font-size: 1.5rem;
}

.map{
    width: 50%;
    height: 300px;
    padding: 2rem;
}

/******************************************
/* Responsive Styles
/*******************************************/

@media all and (max-width:900px){
    .sub2-container2{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    .sub2-container2 p{
        width: 95%;
    }

    .map{
        width: 75%;
    }

    .sub1-container2 {
        padding: 3rem;
    }
    
    .iconStyle h3{
        font-size: 1.5vw
    }
}

@media all and (max-width:600px){
    .container1{
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 5rem;
    }

    .sub1-container1{
        width: 60%;
        margin-left: 6rem;
    }

    .sub2-container1{
        padding: 0 0 1rem 0;
        width: 80%;
    }

    header{
        justify-content: center;
    }

    header ul{
        padding: 0;
    }

    .iconStyle h3{
        font-size: 4.5vw
    }

    .map{
        width: 100%;
        height: 100%;
        padding: 2rem;
    }

    .remove{
        display: none;
    }
}

@media all and (max-width:430px){
    .sub1-container1{
        margin-left: 0;
    }
}